{% extends 'base.html.twig' %}

{% block title %}
   kikooo
{% endblock %}

{% block header%}
   <h2>Voici le header</h2>
{% endblock %}

{% block body %}
      <h1>{{ title | upper}}</h1>
      <p>Comment allez-vous ? </p>

      <a href="{{ path('hello', {'prenom': 'Lior', 'age': 31}) }}">Allez voir Hello</a>

      {#
         {% if age >= 18 %}
            <p> Vous êtes un adulte</p>
         {% elseif age >= 12 %}
            <p> vous etes un ado</p>
         {% else %}
            <P> Vous etes un enfant</P>
         {% endif %}
      #}
      

      <ul>
         {% for compteur in 0..10 %}
            <li>{{compteur}}</li>
         {% endfor %}
      </ul>

      {% for prenom, age in tableau %}
         {% if loop.first %} 
            <strong>{{prenom}} a {{ age }} ans </strong>
         {% elseif  loop.last %}
            <em>{{prenom}} a {{age}} ans</em>
         {% else %}
            <p>{{ prenom}} a {{ age }} ans</p>
         {% endif %}
      {% endfor %}
{% endblock %}